@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo(a)!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1 style="color: red; font-size:large">Projeto Livro</h1>

<ul>
@for (var x = 0; x<20; x++)
{
    <li>Livro @x</li>
}
</ul>